@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

body {
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
  background-color: #3c2506;
}

h1,
p,
a {
  color: #272727;
}

a {
  text-decoration: none;
}

.wrapper-head {
  background-color: #cd7700;
  position: fixed;
  z-index: 3;
  width: 100%;
  margin-bottom: 20px;
}
.nav-home {
  margin-right: 8cm;
  margin-left: 0;
}
.wrapper-head .head-nav {
  padding: 24px 80px;
  max-width: 1440px;
  margin: 0 auto;
}
.wrapper-head .head-nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.wrapper-head .head-nav ul li {
  margin: 0 16px;
}

.wrapper-head .head-nav ul li a {
  font-size: 16px;
  font-weight: 600;
  display: flex;
}

.wrapper-head .head-nav ul li.logo a {
  font-weight: 700;
}
.wrapper-hero {
  background-color: #ffffff;
}
.wrapper-hero .hero-content {
  padding: 96px 96px 56px 96px;
  max-width: 1440px;
  margin: 0 auto;
}

.wrapper-main {
  background-color: #3c2506;
  padding: 50px 50px 100px 50px;
}
.main-content {
  background-color: #f3daba;
}
.wrapper-main .main-content {
  padding: 100px 96px;
  max-width: 1440px;
  margin: 80px auto;
  border: 2px solid black;
  border-radius: 25px;
}

.wrapper-main .main-content p h1 {
  font-size: 18px;
  font-weight: 200;
  line-height: 24px;
}
.item-name {
  font-size: 30px;
  font-weight: 200;
  font-family: "Poppins", sans-serif;
}
.item-name .item-price {
  margin-left: 770px;
}

.item-des {
  font-family: "Poppins", cursive;
}
.wrapper-foot {
  background-color: #272727;
}

.wrapper-foot .foot-content {
  padding: 24px 96px;
  max-width: 1440px;
  margin: 0 auto;
}

.wrapper-foot .foot-content p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #ffffff;
  text-align: center;
}
